body {
  background-color: $bg-color;
}

.content-container {
  overflow: auto;
  background-color: $white;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 5% 20px 5%;
  @media #{$brk-medium}{
      width: 90%;
      .row1 {
        @include span-columns(12);
      }
  }

  .headlines {
    background-color: $bg-color;
    border-top: solid 2px $main-light;
    img {
        width: 100%;
      }
      @include hover-headlines;
    }
  .main {
    color: gray;
    img {
      margin-bottom: -25px;
    }
    @media #{$brk-medium}{
        @include span-columns(8 of 12);
    }
  }
  .sub {
    height: 100px;
    font-size: 18px;
    margin-bottom: 15px;
    @media #{$brk-medium}{
        @include span-columns(4 of 12);
    }
    img {
      width: 150px;
      float: left;
      margin-right: 10px;
    }
  }
}
// media @medium size
