//pseudoclasses
@mixin hover-cursor {
  &:hover {
    cursor: pointer;
  }
}

@mixin hover-headlines {
  &:hover {
      background-color: darken($bg-color, 4%);
    img {
      filter: brightness(1.1);
    }
  }
}
@mixin list {
  a {
    color: white;
  }
  li {
    list-style-type: none;
    margin-right: 3%;
    margin-top: -10px;
    float: left;
    color: $white;
  }
}
