//pseudoclasses
@mixin hover-cursor {
  &:hover {
    cursor: pointer;
  }
}

@mixin hover-headlines {
  &:hover {
      background-color: darken($bg-color, 4%);
    img {
      filter: brightness(1.1);
    }
  }
}
