// colors
$main-color: #005689;
$secondary-color: #951C55;
$bg-color: #F5F5F5;
$third-color: #E6711B;
$white: white;
$footer-color: #484848;


// Media query breakpoints

$brk-narrow: '(max-width: 740px)';
$brk-medium: '(min-width: 980px)';
$brk-wide: '(min-width: 1300px)';
